.mainBody {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.bgCont {
  position: absolute;
  max-width: 2200;
  height: 100vh;

  z-index: -1;
  @media (min-width: 1500px) {
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
  }

  @media (prefers-color-scheme: dark) {
    @media (min-width: 1500px) {
      -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        black 5%,
        black 95%,
        transparent
      );
      mask-image: linear-gradient(
        to right,
        transparent,
        black 5%,
        black 95%,
        transparent
      );
    }
  }
}
.bg {
  width: 100%;
  height: 100vh;
  position: relative;
  mask-image: none;
  object-fit: cover;
  opacity: 35%;

  content: url("/photos/bg2.webp");

  @media (prefers-color-scheme: dark) {
    content: url("/photos/bg2_inv.webp");
    opacity: 25%;
  }
}

.sectionContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.container {
  max-width: 90%;
  width: 100%;
  background: var(--custom-background);
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  border: 2px solid var(--almostwhite);
  box-shadow: var(--containerShadow);
  border-radius: 20px;
  min-height: 120px;

  @media (min-width: 600px) {
    font-size: var(--XS);

    flex-direction: row;
    padding: 30px;
  }
  @media (max-width: 600px) {
    font-size: var(--XXXS);

    padding: 15px;
  }
}

/* Work Sections */
.icon {
  max-width: 150px;
  height: 100%;
  width: auto;
  margin-left: 5px;

  @media (max-width: 600px) {
    max-width: 70px;
  }
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
}

.role {
  font-size: var(--S);
}
.top {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.company {
  font-weight: bold;
  color: var(--darkgrey);
}
.date {
  color: var(--darkgrey);
}

.skills {
  color: var(--darkgrey);
  font-style: italic;
}
