.scene {
  width: 100%;
  height: 60px;
  perspective: 1000px;
}

.cube {
  position: relative;
  height: 60px;
  transform-style: preserve-3d;
  animation: spin 32s infinite linear;
  transition: transform 1s;
  will-change: transform;
  transform: translateZ(-30px);
}

.cube__face {
  position: absolute;
  width: auto;
  height: 60px;

  backface-visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: max(min(3.5vw, 3.5rem), 2rem);
}

.txt {
  background: linear-gradient(90deg, rgb(0, 140, 255), rgb(255, 0, 106));
  background-position: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txtU {
  background: linear-gradient(90deg, rgb(0, 140, 255), rgb(255, 0, 106));
  background-position: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(-1, -1);
}

/* faces */

.cube__face--back {
  transform: rotateY(180deg) translateZ(30px);
}
.cube__face--front {
  transform: rotateX(0deg) translateZ(30px);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(30px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(30px);
}

.cube__face--right {
  transform: rotateY(90deg) translateZ(30px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(30px);
}

@keyframes spin {
  /* Front (hold 0–20%) */
  0%,
  20% {
    transform: translateZ(-30px) rotateX(0deg);
  }

  /* Transition to top (20–25%) */
  25% {
    transform: translateZ(-30px) rotateX(90deg);
  }

  /* Top hold (25–45%) */
  45% {
    transform: translateZ(-30px) rotateX(90deg);
  }

  /* Transition to back */
  50% {
    transform: translateZ(-30px) rotateX(180deg);
  }

  /* Back hold */
  70% {
    transform: translateZ(-30px) rotateX(180deg);
  }

  /* Transition to bottom */
  75% {
    transform: translateZ(-30px) rotateX(270deg);
  }

  /* Bottom hold */
  95% {
    transform: translateZ(-30px) rotateX(270deg);
  }

  /* Reset */
  100% {
    transform: translateZ(-30px) rotateX(360deg);
  }
}
