.mainBody {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgCont {
  position: absolute;
  max-width: 2200;
  height: 100vh;

  z-index: -1;
  @media (min-width: 1500px) {
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
  }
  @media (prefers-color-scheme: dark) {
    @media (min-width: 1500px) {
      -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        black 5%,
        black 95%,
        transparent
      );
      mask-image: linear-gradient(
        to right,
        transparent,
        black 5%,
        black 95%,
        transparent
      );
    }
  }
}
.bg {
  width: 100%;
  height: 100vh;
  position: relative;
  object-fit: cover;

  content: url("/photos/bg.webp");
  opacity: 0.35;

  animation-name: opacityIn;

  @media (prefers-color-scheme: dark) {
    content: url("/photos/bg_inv.webp");
    opacity: 0.25;
    animation-name: opacityInDark;
  }

  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}

.mainCont {
  width: 90%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.icons {
  display: flex;
  gap: 10;
  @media (max-width: 900px) {
    display: none;
  }
}
.icon {
  opacity: 80%;
  height: max(min(3.5vw, 50px), 35px);
  width: max(min(3.5vw, 50px), 35px);
  @media (prefers-color-scheme: light) {
    opacity: 60%;
    filter: invert(1);
  }
}

.iconText {
  display: flex;
  flex-direction: column;
  gap: 10;
  font-size: var(--S);
  @media (max-width: 900px) {
    padding-bottom: 20px;
  }
}

.follow {
  font-weight: bold;
  @media (max-width: 900px) {
    display: none;
  }
}

/* TEXT  */

.textCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.textSection {
  font-size: max(min(4vw, 4rem), 2.4rem);
}
.bold {
  font-weight: bold;
}

/* IMAGE  */

.imgCont {
  animation: fullOpacityIn 1s ease-in-out 0.5s both;

  box-shadow: var(--shortglow);
  background-color: var(--almostwhite);

  @media (min-width: 900px) {
    margin-left: 20px;
    padding: 20px;
    border-radius: 27px;
  }
  @media (max-width: 900px) {
    margin-top: 10px;
    padding: 12px;
    border-radius: 22px;
  }
}

.imgContMobile {
  padding: 15px;
  box-shadow: var(--shortglow);
  background-color: var(--almostwhite);
  border-radius: 27px;
  margin: 10px 0px 20px 0px;
  @media (min-width: 900px) {
    display: none;
  }
}

.photo {
  border-radius: 15px;
  object-fit: cover;
  box-shadow: var(--shortglow);
  @media (min-width: 900px) {
    height: 500px;
  }
  @media (max-width: 900px) {
    width: 100%;
  }
}

@keyframes opacityIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.35;
  }
}

@keyframes opacityInDark {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.25;
  }
}

@keyframes fullOpacityIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
