.mainBody {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgCont {
  position: absolute;
  width: 100%;
  height: 100vh;

  z-index: -1;
}
.bg {
  width: 100%;
  height: 100vh;
  position: relative;
  object-fit: cover;

  content: url("/photos/productbg.webp");
}

.mainCont {
  width: 90%;
  display: flex;
  justify-content: center;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

/* TEXT  */

.textCont {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.textSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.luma {
  font-weight: bold;
  font-size: max(min(12vw, 12rem), 6rem);
  line-height: 0.8;
  text-shadow: 0px 0px 4px #8b8b8b;
}

.bylioner {
  font-weight: bold;
  font-size: max(min(4vw, 2rem), 1.5rem);
  text-shadow: 0px 0px 4px #8b8b8b;
}

.shortText {
  color: white;
}
/* IMAGE  */

.img {
  position: relative;

  width: 500px !important;
  height: auto;
  z-index: -0;
}

.photo {
  border-radius: 15px;
  object-fit: cover;
  box-shadow: var(--shortglow);
  @media (min-width: 900px) {
    height: 500px;
  }
  @media (max-width: 900px) {
    width: 100%;
  }
}

.button {
}
.glasscard {
  padding: 12px;
  display: flex;
  width: fit-content;
  height: fit-content;
  background: rgba(200, 200, 200, 0.4);
  backdrop-filter: blur(3px) !important;
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  position: relative;
  overflow: hidden;
  will-change: transform;
  transform: translateZ(0);
}
