.main {
  position: relative;
}
.separator {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--S);
  padding: 100px 50px;
  gap: 15;
  margin-top: 30px;
}

.aboutMe {
  font-size: var(--XL);
  font-weight: bold;
  color: rgb(169, 192, 255);
  @media (prefers-color-scheme: light) {
    background: linear-gradient(40deg, rgb(0, 140, 255), rgb(0, 14, 206));
    background-position: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.img {
  height: 170px;
  width: auto;
  border-radius: 50%;
  background: var(--custom-background);
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: var(--shortglow);
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.7);

  @media (max-width: 800px) {
    height: 120px;
  }

  @media (prefers-color-scheme: dark) {
    border: 2px solid var(--separator);
    box-shadow: var(--glow);
  }
}

.card {
  width: fit-content;
  background-color: pink;
}

.eduCont {
  display: flex;
  flex-direction: column;
  gap: 20;
  font-size: var(--XS);
}
.eduSection {
  display: flex;
  flex-direction: column;
  gap: 7px;
  background: var(--custom-background);
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: var(--shortglow);

  padding: 20px 25px;
  border-radius: 15px;

  border: 2px solid rgba(255, 255, 255, 0.7);
  @media (prefers-color-scheme: dark) {
    border: 2px solid var(--separator);
    box-shadow: var(--glow);
  }
}
.bold {
  font-weight: bold;
}

.grey {
  color: var(--darkgrey);
  font-weight: bold;
}

.skills {
  font-style: italic;
  color: var(--darkgrey);
}
