.main {
  position: relative;
  max-width: 2200px;
  width: 100%;
}
.separator {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--S);
  padding: 100px 50px;
  gap: 15px;
  margin-top: 30px;
}

.bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--almostwhite);

  @media (min-width: 1500px) {
    border: 5px solid var(--separator);

    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
  }
}

.aboutMe {
  width: 100%;
  font-size: var(--XL);
  font-weight: bold;
  background: linear-gradient(-20deg, rgb(185, 185, 185), rgb(0, 0, 0));
  background-position: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img {
  height: 175px;
  width: 175px;
  padding: 3px;
  border-radius: 50%;
}

.card {
  width: fit-content;
  background-color: pink;
}
